
main {
  width: 100%;
  padding: 40px;
  border: 1px solid rgba(0,0,0,.2);
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

#content1, #content2, #content3 {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}

.input {
  display: none;
}

.tab_label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}

.tab_label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tab_label[for*='1']:before { content: '\f1cb'; }
.tab_label[for*='2']:before { content: '\f17d'; }
.tab_label[for*='3']:before { content: '\f16c'; }
.tab_label[for*='4']:before { content: '\f171'; }

.tab_label:hover {
  color: #789;
  cursor: pointer;
}

.input:checked + .tab_label {
  color: #0af;
  border: 1px solid #abc;
  border-top: 2px solid #0af;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3{
  display: block;
}